// ============================================
// Scrollbars
// ============================================

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 126, 219, 0.3);
  border-radius: 3px;
  border: none !important;

  &:hover {
    background: @neon-pink;
  }
}
